{{message}}

<form action="/logout" method="post">
   
    <div>
        <input type="submit" value="log out"/>
    </div>
</form>
<form action="/login" method="post"> 
    <div>
        <label>Username:</label>
        <label id="username">{{username}}</label>
    </div>
    <div>
        <label>First Name:</label>
        <label id="firstName">{{firstName}}</label>
    </div>
    <div>
        <label>Last Name:</label>
        <label id="lastName">{{lastName}}</label>
    </div>
    <div>
        <label>profession:</label>
        <label id="profession">{{profession}}</label>
    </div>
    <div>
        <label>Bio:</label>
        <label id="bio">{{Bio}}</label>
    </div>
</form>